
<div class="loginPage">

   <div class="SigninForm">
       <form class="form-inline loginForm" ng-submit="signin()">
          <div class="form-group">
                <label class="sr-only" for="user_email">Email address</label>
                <input type="text" class="form-control" id="user_email" placeholder="User Name / Email " ng-model="useremail" required>
          </div>
          <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="loginpassword" required>
          </div>
             <button type="submit" class="btn btn-info" id="btn_SignIn">Sign in</button>
           <p class="ErrSignInMsg">{{ErrorSignInMessage}} </p>
       </form>  
   </div> 

  
    <p class="loginPElement"> </p>
    
  <div class="SignupForm col-sm-8">
        
        <h3> Not a user yet?? &nbsp;&nbsp; Sign UP</h3>
      &nbsp;
        
        <form class="form-horizontal" ng-submit="signup()">
              <div class="form-group">
                <label for="firstname" class="col-sm-4 control-label">First Name</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="firstname" placeholder="First Name" ng-model="firstname" required>
                    </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-4 control-label">Last Name</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="lastname" required>
                    </div>
              </div>
              <div class="form-group">
                 <label for="email" class="col-sm-4 control-label">Email</label>
                      <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="email" required>
                      </div>
              </div>
               <div class="form-group">
                 <label for="phone" class="col-sm-4 control-label">Phone</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="phone" placeholder="(XXX)XXX-XXXX" ng-model="phone" required>
                      </div>
              </div>
              <div class="form-group">
                 <label for="location" class="col-sm-4 control-label">Location</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="location" placeholder="Location" ng-model="location" required>
                      </div>
              </div>
              <div class="form-group">
                 <label for="username" class="col-sm-4 control-label">User Name</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="username" placeholder="User name" ng-model="username" required>
                      </div>
              </div>
             
              <div class="form-group">
                <label for="password" class="col-sm-4 control-label">Password</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" required>
                    </div>
              </div>
           <!--  <div class="form-group">
                <label for="confirmpassword" class="col-sm-4 control-label"> Confirm Password</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="password" placeholder="Re enter Password" ng-model="confirmpassword">
                    </div>
              </div> -->
              
              <div class="form-group">
                <div class="col-sm-offset-5 col-sm-10">
                  <button type="submit" class="btn btn-info" id="btn_SignUp">Sign Up</button>
                </div>
              </div>
            <p class="ErrSignInMsg">{{ErrorSignUpMessage}} </p>
            </form>
       
   </div> 




</div>






