<div class="newmail col-md-10 col-md-offset-1">
    
    <div class="newmailbody"> 
     <p>  To <input type="email" class="form-control" name="email" placeholder=" Emai-ID :" ng-model="newemail"> </p> </br> <hr>
     <p>   Sub <input type="text" class="form-control" placeholder="Subject: " ng-model="newtitle">  </br> <hr>  </p>
      Message </br> <textarea name="msgbody" class="form-control" placeholder="message " ng-model="newmsg" rows="20" cols="50"> </textarea> </br>
        
        <button class="btn btn-info" name="btn_composemail" ng-click="sendnewemail()"> Send </button>
               
    </div>

</div>